<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>


window.images = {
  camp: '<%= image_path("camp.png") %>',
  five: '<%= image_path("five.png") %>',
  never: '<%= image_path("never.png") %>',
  people: '<%= image_path("people.png") %>',
  weird: '<%= image_path("weird.png") %>',
  teatime: '<%= image_path("teatime.jpg") %>',
  lax: '<%= image_path("lax.png") %>',
  sf: '<%= image_path("sf.jpg") %>',
  nyc: '<%= image_path("nyc.jpg") %>',
  dc: '<%= image_path("dc.jpg") %>',
  chi: '<%= image_path("chi.jpg") %>'
}

</script>
<main id="root"></main>
